.titleStyle {

    font-weight: 900;
    margin-bottom: 1em;
}

.containerAll {

    display: flex !important;
    justify-content: center !important;
    margin-top: 5em;
}

.containerItems {

    width: 400px;
    box-shadow: 0px 0px 4px 0px black;
    padding: 30px;
    border-radius: 10px;
}

.buttonStyle {

    width: 100%;
    position: relative;
    top: 1em;
    background-color: #ed5565 !important;
    font-weight: 900 !important;
    border: 1px solid transparent !important;
    outline: none !important;
}

.buttonStyle:hover, .buttonStyle:focus, .buttonStyle:active {

    box-shadow: 2px 2px 2px black !important;
    border: 1px solid transparent !important;
    outline: none !important;

}

input {

    width: 100%;
    margin-bottom: 1em;
}

.containerNews {

    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.containerItemNews {

    width: 100%;
    
}

.labelStyle {
    
    color: #ed5565 !important;
    font-weight: 900 !important;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-weight: 900 !important;
}


input {

    border: 1px solid black !important;
    outline: none !important;
}

input:hover, input:active, input:focus {
        outline: none !important;
        border: 1px solid transparent !important;
        box-shadow: 2px 2px 2px black !important;

}


/* scrool bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ed5565 ;
    border-radius: 10px;
    border: 1px solid black;
  }